@{
    ViewBag.Title = "Age Range System";
    this.Layout = "../Shared/_Layout.cshtml";
}
<base href="@Url.Content("~/")" target="_blank">

<div class="panel panel-default">
    <div class="panel-body" ng-app="clientApp">
        <div ng-include="'@Url.Content("~/")app/views/person.html'"></div>
    </div>
</div>