<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebApp-20130705105330;Integrated Security=SSPI"
       providerName="System.Data.SqlClient" />-->
  
  <add name="LocalDb"
       connectionString="Data Source=E:\My Projects\AgeRanger\AgeRanger.db;foreign keys=true;"
       providerName="System.Data.EntityClient" />
       <!--System.Data.SQLite-->

  <add name="LocalSqlite"
       connectionString="Data Source=C:\Git\AgeRanger\AgeRanger.db;foreign keys=true;"
       providerName="System.Data.EntityClient" />
  <!--System.Data.SQLite-->

  <add name="LocalDbServer"
       connectionString="Server=TOANLELAPTOP;Database=AgeRange;User ID=sa;Password=@123456;MultipleActiveResultSets=true"
       providerName="System.Data.EntityClient" />
</connectionStrings>