<?xml version="1.0"?>
<connectionStrings>

  <!--Running-->
  <!--<add name="LocalDb"
       connectionString="Data Source=E:\My Projects\AgeRanger\Databases\RunningDb\AgeRanger.db;foreign keys=true;"
       providerName="System.Data.EntityClient" />-->

  <!--AcceptanceTest-->
  <add name="LocalDb"
       connectionString="Data Source=|DataDirectory|\AgeRanger.db;foreign keys=true;"
       providerName="System.Data.EntityClient" />

  <add name="LocalDbServer"
       connectionString="Server=TOANLELAPTOP;Database=AgeRange;User ID=sa;Password=@025879#;MultipleActiveResultSets=true"
       providerName="System.Data.EntityClient" />
</connectionStrings>